@media (max-width: 1024px) {
    
}

@media (max-width: 991px) {
    /* Custom Classes */
    .text-content {
        width: 100%;
    }

    /* Nav Brand */
    .navigation-wrap .navbar-brand img {
        height: 61px;
    }
    .navigation-wrap .navbar-collapse{
        text-align: center;
        background-color: var(--white-color);
    }
    .navigation-wrap .nav-link {
        line-height: 30px;
    }

    /* Banner */
    .top_banner {
        padding: 150px 0 150px;
    }
}

@media (max-width: 767px) {
    /* Custom Css */
    h1 {
        font-size: 41px;
    }
    h2 {
        font-size: 23px;
        line-height: 33px;
    }
    .wrapper {
        padding-top: 74px;
        padding-bottom: 74px;
    }
    /* Top Banner */
    .top_banner {
        padding: 174px 0 150px;
    }

    /* About Section */
    .about__img {
        width: 100%;
    }

    /* Story Section */
    .story-section {
        height: auto;
        padding: 48px 0;
    }

    /* carousel design */
    .testimonial-section .carousel-item{
        padding:11rem 3.125rem;
    }

    /* Newsletter */
    .newsletter .main-btn {
        width: 100%;
        margin-top: 16px;
    }

    /* footer */
    .footer .footer-link,
    .footer a i {
        padding: 0 10px;
    }



}

@media (max-width:330px) {

    /* carousel design */
    .testimonial-section .carousel-item{
        padding:13rem 3.125rem;
    }
     
}